---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pathName = Astro.url.pathname;
---

<Layout
  title="All my thought's here are personal"
  description="Check out my blog! I share coding tips, project updates, and lessons I've learned as a developer."
  path={pathName}
>
  <Navigation />
  <main
    class="flex items-center justify-center py-10 px-5 text-gray-400 my-auto md:py-20"
  >
    <div class="max-w-screen-lg w-full mx-auto">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-white md:text-6xl">Blog post</h1>
      </div>
      <div class="mt-12 md:mt-20 md:text-lg">
        <ul class="list-disc">
          {
            allPosts.map((post) => (
              <li>
                <a
                  href={post.url}
                  class="underline underline-offset-4 text-white text-xl transition-all hover:text-purple-500"
                >
                  {post.frontmatter.pubDate} - {post.frontmatter.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </main>
  <Footer addStyle="absolute right-0 left-0 bottom-0" />
</Layout>
