---

---

<header class="w-full flex items-center justify-center py-1.5 px-3">
  <nav class="max-w-lg w-full">
    <ul class="flex items-center justify-center gap-3">
      <li class="text-gray-400">
        <a href="/" class="block p-3 text-lg hover:text-white">Home</a>
      </li>
      <li class="text-gray-400">
        <a
          href="https://github.com/tan911"
          class="block p-3 text-lg hover:text-white">Github</a
        >
      </li>
      <li class="text-gray-400">
        <a href="/projects" class="block p-3 text-lg hover:text-white"
          >Projects</a
        >
      </li>
    </ul>
  </nav>
</header>
